<div class="container">
  <h2>Liste des produits</h2>
  <div class="row">
    <div class="card mb-4">
      <div class="card-body">
        <table class="table table-light shadow table-hover">
          @if (produits.length > 0) {
          <thead class="table-dark text-white">
            <tr>
              <th scope="col" class="text-start">N°</th>
              <th scope="col" class="text-start">Désignation</th>
              <th scope="col" class="text-center">Catégorie</th>
              <th scope="col" class="text-center">Prix</th>
              <th scope="col" class="text-center">Date d'enregistrement</th>
              <th scope="col" class="text-center">Actions</th>
            </tr>
          </thead>
          }


          @for (produit of produits; track produit.idProduit; let
          count=$count; let last=$last) {
          <tbody>
            <tr>
              <td class="text-start">{{ produit.idProduit }}</td>
              <td>{{ produit.nomProduit }}</td>
              <td>{{ produit.categorie?.nomCat }}</td>
              <td class="text-center">
                {{ produit.prixProduit | currency : "GNF" }}
              </td>
              <td class="text-center">
                {{ produit.dateCreation |  date : "dd/MM/yyyy" }}
              </td>
              <td class="text-center">
                <button
                  type="button"
                  [routerLink]="['/updateProduit', produit.idProduit]"
                  class="btn btn-success absolute-center mx-2 btn-action"
                >
                  <i class="bi bi-pencil-square"></i>
                  Modifier
                </button>
                <button
                  type="button"
                  (click)="deleteProduit(produit)"
                  class="btn btn-danger absolute-center mx-2 btn-action"
                >
                  <i class="bi bi-trash"></i>
                  Supprimer
                </button>





              </td>



            </tr>
          </tbody>


          @if (last) {
          <h3 class="text-center text-dark absolute-center pt-2">
            Total : {{ count }}
          </h3>
          } } @if (produits.length === 0) {
          <h3 class="text-center absolute-center pt-2 text-danger">
            Aucun produit disponible !
          </h3>

          }
          <!-- @empty {
            <h3>Aucun produit disponible !</h3>
          } -->





        </table>
      </div>
    </div>
  </div>
</div>
